<!Doctype>
<html>
    <!-- <h1 class="home-header">Welcome to Restful Recipes</h1> -->

<body>

<!-- HEADER IMAGE AND TEXT -->
<div class="home-background jumbotron bg-cover text-white w-100"
     style="width: 100vh">
    <div class="container py-5 text-center">
        <h1 class="home-text-title display-4 font-weight-bold">
            Come Cook With Us
        </h1>
        <p class=" home-text-p font-italic mb-0"
           style="-webkit-text-stroke: 0.35px #000000;
                  text-stroke: 0.35px #000000;
                  font-size: 18px;
                  font-weight: 600;">
            Living at college does not mean you have to forego
            your favorite homemade meals. Featuring dorm and kitchen
            friendly meals, Restful Recipes is here to help you find
            quick, easy, and delicious meals.
        </p>
        <br>
        <a href="#RecipesList" role="button" class="btn btn-primary px-5">
            Let's Get Cooking
        </a>
    </div>
</div>

<!-- RANDOM BREAK FOR ID SCROLL TESTING -->
<hr>

<!-- ABOUT SECTION -->
<div id="AboutSection" class="home-about">

    <h2 class="" style="padding-left: 10px;
                        padding-top: 10px;">
        About Us
    </h2>

    <div class="container">

        <div class="row row-cols-2">

            <div class="col-4"
                 style="background-color:;
                        border-right: double;">

                <span style="font-variant: small-caps;
                             font-size: 32px;">The Short</span>

                <p>
                    We are a pair of college students whose
                    college campuses lack the homemade meals
                    we are so fond of. The search for college
                    dorm friendly meals begins.
                </p>

            </div>

            <div class="col-8"
                 style="background-color:;">

                <span style="font-variant: small-caps;
                             font-size: 32px;">The Long</span>

                <p>
                    Restful Recipes was founded when two friends
                    confided in each other about why they did not
                    want to return to university after break. The
                    common denominator? College food. Many colleges
                    today have high demand dining locations which can
                    make it difficult to prepare fresh food every single
                    day. This often leads to the consumers feeling
                    disappointed by the sheer volume of flash fried food,
                    lack of healthy meal options, and a genuine yearn for
                    a quick homemade meal. Our platform intends to help
                    college students find quick and easy recipes that they
                    are able to make themselves. Whether you have a kitchen
                    or just a microwave, you will surely be able to find,
                    cook, and prepare a meal you will surely enjoy.

                </p>

            </div>

            <div class="col-12"
                 style="text-align: center;
                        font-style: italic;
                        padding-top: 30px;
                        padding-bottom: 30px;">
                Thanks for cooking with us!
            </div>

        </div>

    </div>

</div>

<br>

<!-- RECIPE TABLE -->
<div id="RecipesList">
    <h2>A Recipe For Success</h2>
<table class="table table-striped col-md-12" id="meals">
  <thead>
    <tr>
      <th>
      <%= link_to 'Recipe', recipes_path({sort_by: 'title'}), class: ('text-info' if @sort_by == 'title') %>
      </th>
      <th>Category</th>
      <th>
      <%= link_to 'Difficulty', recipes_path({sort_by: 'difficulty'}), class: ('text-info' if @sort_by == 'difficulty') %>
      </th>
      <th>
      <%= link_to 'Duration', recipes_path({sort_by: 'duration'}), class: ('text-info' if @sort_by == 'duration') %>
      </th>
      <th>See More</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td>
          <%= recipe.title %>
        </td>
        <td>
          <%= recipe.category %>
        </td>
        <td>
            <%= recipe.difficulty%>
        </td>
        <td>
            <%= recipe.duration %> minutes
        </td>
        <td>
          <%= link_to "More about #{recipe.title}", recipe_path(recipe) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new recipe', new_recipe_path, :class => 'btn btn-primary' %>
<%= link_to 'Search Recipes', search_path, :class => 'btn btn-secondary' %>
</div>

</body>

</html>
