<!DOCTYPE html>
<html>

<<<<<<< Updated upstream
    <h1>Add New Recipe</h1>

    <!-- <table class="table table-striped col-md-12" id="meals">
      <thead>
        <tr>
          <th>Recipe</th>
          <th>Category</th>
          <th>More Info</th>
        </tr>
      </thead>
      <tbody>
        <% @recipes.each do |recipe| %>
          <tr>
            <td>
              <%= recipe.title %>
            </td>
            <td>
              <%= recipe.category %>
            </td>
            <td>
              <%= link_to "More about #{recipe.title}", recipe_path(recipe) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Add new recipe', new_recipe_path, :class => 'btn btn-primary' %> -->

</html>
=======
<%= form_tag recipes_path, class: 'form' do %>
  <%= label :movie, :title, 'Title', class: 'col-form-label' %>
  <%= text_field :movie, :title, class: 'form-control' %>
  <%= label :movie, :rating, 'Rating', class: 'col-form-label' %>
  <%= select :movie, :rating, ['G','PG','PG-13','R'], {}, {class: 'form-control col-1'} %>
  <%= label :movie, :release_date, 'Released On', class: 'col-form-label' %>
  <%= date_select :movie, :release_date, {}, class: 'form-control col-2 d-inline' %>
  <br/>
  <%= submit_tag 'Save Changes', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', movies_path, class: 'btn btn-secondary' %>
<% end %>
>>>>>>> Stashed changes
