<!DOCTYPE html>
<html>

<body>
    <br>
<div class="card">

    <div class="card-header">
        <h5 class="card-title display-4">Add New Recipe</h5>
    </div>

    <!-- <div class="card-body"> -->
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <%= form_tag recipes_path, class: 'form' do %>
                  <%= label :recipe, :title, 'Recipe Title', class: 'col-form-label' %>
                  <%= text_field :recipe, :title, class: 'form-control' %>
            </li>
            <!-- <li class="list-group-item">
                  <%= label :recipe, :description, 'Description', class: 'col-form-label' %>
                  <%= text_field :recipe, :description, class: 'form-control' %>
            </li> -->
            <li class="list-group-item">
                  <%= label :recipe, :category, 'Category', class: 'col-form-label' %>
                  <%= select :recipe, :category, ['Breakfast', 'Lunch', 'Dinner', 'Drink', 'Snack'], {}, {class: 'form-control col-2'} %>
            </li>
            <li class="list-group-item">
                  <%= label :recipe, :ingredients, 'Ingredients', class: 'col-form-label' %>
                  <span class="text-muted form-subtitle"><small>(please separate all values with a comma)</small></span>
                  <%= text_field :recipe, :ingredients, placeholder: 'What do we need to make your recipe...', class: 'form-control' %>
            </li>
            <li class="list-group-item">
                  <%= label :recipe, :info, 'Instructions', class: 'col-form-label' %>
                  <span class="text-muted form-subtitle"><small>(please separate all steps with a comma)</small></span>
                  <%= text_field :recipe, :info, placeholder: 'Give instructions here...', class: 'form-control' %>
            </li>
            <li class="list-group-item">
                  <%= label :recipe, :difficulty, 'Difficulty', class: 'col-form-label'%>
                  <%= select :recipe, :difficulty, [1, 2, 3, 4, 5], {}, {class: 'form-control col-1'} %>
            </li>
            <li class="list-group-item">
                  <%= label :recipe, :duration, 'Duration', class: 'col-form-label' %>
                  <%= text_field :recipe, :duration, placeholder: 'Enter number of minutes here...', class: 'form-control' %>
            </li>
            <li class="list-group-item">
                   <%= label :recipe, :tags, 'Tags', class: 'col-form-label' %>
                     <%= text_field :recipe, :tags, placeholder: 'Vegan, Gluten Free, Dorm-Friendly...', class: 'form-control' %>
            </li>
            <li class="list-group-item">
                  <br/>
                  <%= submit_tag 'Save Changes', class: 'btn btn-primary' %>
                  <%= link_to 'Cancel', recipes_path, class: 'btn btn-secondary' %>
                <% end %>
            </li>

        </ul>

    <!-- </div> -->

</div>

</body>

</html>
