<!DOCTYPE html>
<html>

    <body>

        <h2> &nbsp; </h2>
        <div class="card shadow-sm" style="">

            <div class="">

                <div class="row row-cols-2">

                    <!-- LEFT SIDE -->
                    <div class="col-4">

                        <img src="https://www.vegrecipesofindia.com/wp-content/uploads/2020/11/pizza-recipe-2-500x500.jpg"
                             alt="Recipe Image" class="img-thumbnail" style="float:none; margin: 0 auto;">

                    </div>

                    <!-- RIGHT SIDE -->
                    <div class="col-8">

                        <!-- RECIPE CATEGORY & TAGS -->
                        <span class="badge badge-pill badge-primary"
                              style="padding-top: 5px; width: auto;">
                              &nbsp; <%= @recipe.category %> &nbsp;
                        </span>
                        <span class="badge badge-pill badge-primary"
                              style="padding-top: 5px; width: auto;">
                              &nbsp; <%= @recipe.tags %> &nbsp;
                        </span>

                        <!-- RECIPE TITLE -->
                        <h5 class="card-title"
                            style="padding-top: 5px; padding-bottom: -20px">
                            <%= @recipe.title %>
                        </h5>

                        <!-- RECIPE DIFFICULTY LEVEL -->
                        <p> Difficulty Level:
                            <span class="badge badge-pill badge-secondary"
                                  style="padding-top: 5px; width: auto;">
                                <%= @recipe.difficulty %>
                            </span>
                        </p>

                        <!-- RECIPE DESCRIPTION -->
                        <p>
                            what
                            <%# <%= @recipe.description %> %>

                            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. -->

                            <!-- Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum. -->

                        </p>

                        <!-- RECIPE DURATION -->
                        <p class="bi bi-clock">
                            <%= @recipe.duration %>
                        </p>

                    </div>
                    <!-- <hr> -->
                    <div class="col-12">
                        <hr>

                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                <h5 class="card-title" style="padding-left: 10px;">
                                    Ingredients
                                </h5>
                                <%= @recipe.ingredients %>
                                <ul>
                                    <li>2oz Tomato Sauce</li>
                                    <li>5oz Shredded Cheese</li>
                                    <li>1oz Pizza Toppings</li>
                                </ul>
                            </li>

                            <li class="list-group-item">
                                <h5 class="card-title" style="padding-left: 10px; padding-top:10px">
                                    Instructions
                                </h5>
                                <%= @recipe.info %>
                                <ol>
                                    <li>Preheat the oven to 350 degrees</li>
                                    <li>Line your baking sheet with parchment paper</li>
                                    <li>Flour your station</li>
                                </ol>
                            </li>

                        </ul>

                    </div>


                </div>

            </div>

        </div>

        <h2> &nbsp; </h2>

    </body>


</html>
