<!DOCTYPE html>
<html>
  <head>
    <title>Foooooooood</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootstrap-colors-extended.herokuapp.com/bootstrap-colors.css" />
    <link rel="stylesheet" href="https://bootstrap-colors-extended.herokuapp.com/bootstrap-colors-themes.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'style.css' %>
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- NAVBAR -->

    <nav class="sticky-top container-fluid navbar-light bg-light">
        <a class="logo-title navbar-brand d-inline-block active" href="#">Restful Recipes</a>
        <div class="d-inline-block">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <!-- <a class="nav-link text-dark" aria-current="page" href="#">Home</a> -->
                    <span class="nav-link text-dark">
                    <%= link_to 'Home', recipes_path, class:"text-dark" %>
                    </span>

                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link text-dark" href="#">About</a> -->
                    <span class="nav-link text-dark">
                    <%= link_to 'About', recipes_path(@recipe, :anchor => "AboutSection"), class:"text-dark" %>
                    </span>

                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link text-dark" href="#">Recipes</a> -->
                    <span class="nav-link">
                    <%= link_to 'Recipes', recipes_path(@recipe, :anchor => "RecipesList"), class:"text-dark" %>
                    </span>

                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Contact Us</a>
                </li>

                <!-- Absolutely will not float right for me
                <div class="float-right">
                    <form class="d-flex" style="position:right;">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div> -->

            </ul>
        </div>
    </nav>
    <!-- NAVBAR END --© 2022>

    <!-- FOOTER -->
    <!-- <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>© 2022 - Restful Recipes</small>
    </div>
  </footer> -->
    <!-- FOOTER END -->

    <!-- For flash messages -->
    <div class="container">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
